<?xml version='1.0' encoding='UTF-8' ?>
<!--  
	Authors:  Sean-Frankel Gaon Canlas, Theo De Villeneuve
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>BookBay</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />

	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />

	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="account.css" />
	<h:outputStylesheet library="css" name="jquery.bxslider.css" />

	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
	<h:outputScript library="scripts" name="jquery.bxslider.js" />
	<h:outputScript library="scripts" name="main.js" />
</h:head>
<h:body>
<f:view locale="#{localeChanger.locale}">
	<!-- Start of Wrapper Div -->
	<div id="wrapper">

		<!-- Start of Header Div -->
		<ui:include src="/WEB-INF/templates/header.xhtml" />
		<!-- End of Header Div -->

		<h:panelGroup rendered="#{not loginBean.logedin}">
			<h1>NOT LOGGED IN. PLEASE LOG IN.</h1>
		</h:panelGroup>

		<h:panelGroup rendered="#{loginBean.logedin}">
			<!-- Start of Account Div -->
			<div id="account">
				<div id="change-pass">
					<legend>Change Password</legend>

					<h:form id="change-pass-form">
						<div class="form-group input-form-group">
							<label class="col-sm-3 control-label" for="password">#{msg['passwordInputField']}</label>
							<div class="col-sm-3">

								<h:inputSecret styleClass="form-control" id="password1"
									placeholder="Enter password" value="#{accountBean.password}"
									size="78" maxlength="78" label="Password">
									<f:ajax event="blur" render="password1error" />
									<f:validator validatorId="passwordValidator" />
								</h:inputSecret>

								<h:message id="password1error" for="password1"
									errorclass="errorsignup" styleClass="has-error errorsignup" />
							</div>
						</div>
						<div class="form-group btn-form-group">
							<h:messages globalOnly="true" infoClass="info" />
							<div class="col-sm-2">
								<h:commandButton type="submit" styleClass="btn btn-default"
									value="#{msg['submitButton']}"
									action="#{accountBean.changePassword}" />

							</div>
							<div class="col-sm-3">
								<h:commandButton type="reset" class="btn btn-default"
									value="#{msg['resetButton']}" onclick="resetvalue()" />
							</div>
						</div>
					</h:form>
				</div>
				<div id="change-email">
					<legend>Change Email</legend>
					<h:form id="change-email-form">
						<div class="form-group input-form-group">
							<label class="col-sm-3 control-label" for="email">#{msg['emailInputField']}</label>
							<div class="col-sm-3">
								<h:inputText styleClass="col-sm-3 form-control form-email"
									id="email1" placeholder="Enter email"
									value="#{accountBean.email}" size="50" maxlength="50"
									validator="#{inscrireBean.validateEmail}" label="Email">
									<f:ajax event="blur" render="emailerror" />
								</h:inputText>
								<h:message id="emailerror" for="email1" errorclass="errorsignup"
									styleClass="has-error errorsignup" />
							</div>
						</div>
						<div class="form-group btn-form-group">
							<h:messages globalOnly="true" infoClass="info" />
							<div class="col-sm-2">
								<h:commandButton type="submit" styleClass="btn btn-default"
									value="#{msg['submitButton']}"
									action="#{accountBean.changeEmail}" />

							</div>
							<div class="col-sm-3">
								<h:commandButton type="reset" class="btn btn-default"
									value="#{msg['resetButton']}" onclick="resetvalue()" />
							</div>
						</div>
					</h:form>
				</div>
				<div id="change-shipping">
					<legend>Change Shipping</legend>

					<fieldset>
						<h:form styleClass="form-horizontal" id="change-shipping-form">
							<h:dataTable
								value="#{shippingInfo.searchShipInfoByClientId(loginBean.id)}"
								var="shipinfo" styleClass="table table-striped table-condensed">
								<h:column>
									<f:facet name="header">#{msg.accountShipName}</f:facet>
								#{shipinfo.shipName}</h:column>
								<h:column>
									<f:facet name="header">#{msg.accountShipLastName}</f:facet>
								#{shipinfo.shipLastName}</h:column>
								<h:column>
									<f:facet name="header">#{msg.accountShipAddress1}</f:facet>
								#{shipinfo.shipAddress1} </h:column>
								<h:column>
									<f:facet name="header">#{msg.accountShipCity}</f:facet>
								#{shipinfo.shipCity} </h:column>
								<h:column>
									<f:facet name="header">#{msg.managementAction}</f:facet>
									<h:link class="btn btn-default btn-sm "
										value="#{msg.managementInfo}" outcome="shipinfo_edit.xhtml">
										<f:param name="ship" value="#{shipinfo.id}" />
										<span class="glyphicon glyphicon-zoom-in"></span>
									</h:link>
									<span></span>
									<h:commandLink
										action="#{shippingInfo.deleteShipInfo(shipinfo)}"
										class="btn btn-default btn-danger btn-sm ">
										<span class="glyphicon glyphicon-remove"></span>
										<f:ajax execute="@form" render="@form" />
									</h:commandLink>
								</h:column>
							</h:dataTable>

						</h:form>
						<h:form styleClass="form-horizontal">
							<a class="btn btn-default btn-sm " data-toggle="modal"
								href="#myModal">#{msg.accountNewShip}</a>

							<!-- Modal NEW -->
							<div class="modal fade margintop" id="myModal" tabindex="-1"
								role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog margintop">
									<div class="modal-content scroll">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true">&times;</button>
											<h4 class="modal-title">#{msg.accountNewShip}</h4>
										</div>
										<div class="modal-body">
											<div class="form-group">
												<label class="col-sm-3 control-label" for="shipname">#{msg.accountShipName}</label>
												<div class="col-sm-3">
													<h:inputText id="shipname" size="15" maxlength="15"
														styleClass="form-control personal-form-control"
														value="#{shippingInfoBean.shipName}" required="true"
														label="Shipname"
														validatorMessage="This field cannot contains special caracter or digit">
														<f:ajax event="blur" render="shipnamemeerror" />
														<f:validateRegex pattern="[a-zA-Z ]*" />
													</h:inputText>
													<h:message id="shipnamemeerror" for="shipname"
														errorclass="errorsignup"
														styleClass="has-error errorsignup" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label" for="shiptitle">#{msg['titleInputField']}</label>
												<div class="col-sm-3">
													<h:selectOneMenu id="title" styleClass="form-control"
														value="#{shippingInfoBean.shipTitle}">
														<f:selectItems value="#{clientBean.titleValue}" />
													</h:selectOneMenu>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label" for="lastname">#{msg['lastNameInputField']}</label>
												<div class="col-sm-3">
													<h:inputText
														styleClass="form-control personal-form-control"
														id="lastname" placeholder="Smith"
														value="#{shippingInfoBean.shipLastName}" required="true"
														label="Lastname" size="20" maxlength="20"
														validatorMessage="This field cannot contains special caracter or digit">
														<f:ajax event="blur" render="lastnameerror" />
														<f:validateRegex pattern="[a-zA-Z ]*" />
													</h:inputText>
													<h:message id="lastnameerror" for="lastname"
														errorclass="errorsignup"
														styleClass="has-error errorsignup" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label" for="firstname">#{msg['firstNameInputField']}</label>
												<div class="col-sm-3">
													<h:inputText styleClass="col-sm-3 form-control"
														id="firstname" placeholder="John"
														value="#{shippingInfoBean.shipFirstName}" required="true"
														label="Firstname" size="15" maxlength="15"
														validatorMessage="This field cannot contains special caracter or digit">
														<f:ajax event="blur" render="firstnameerror" />
														<f:validateRegex pattern="[a-zA-Z ]*" />
													</h:inputText>
													<h:message id="firstnameerror" for="firstname"
														errorclass="errorsignup"
														styleClass="has-error errorsignup" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label" for="company">#{msg['companyNameInputField']}</label>
												<div class="col-sm-3">
													<h:inputText
														styleClass="form-control personal-form-control"
														id="company" placeholder="BookBay"
														value="#{shippingInfoBean.shipCompany}"
														label="Company name" size="15" maxlength="15"
														validatorMessage="This field cannot contains special caracter">
														<f:ajax event="blur" render="companyerror" />
														<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
													</h:inputText>
													<h:message id="companyerror" for="company"
														errorclass="errorsignup"
														styleClass="has-error errorsignup" />
												</div>
											</div>

											<div class="form-group">
												<label class="col-sm-3 control-label" for="address1">#{msg['address1InputField']}</label>
												<div class="col-sm-3">
													<h:inputText
														styleClass="form-control personal-form-control"
														id="address1" placeholder="1234 Bay Street"
														value="#{shippingInfoBean.shipAddress1}" required="true"
														label="Adress 1" size="25" maxlength="25"
														validatorMessage="This field cannot contains special caracter">
														<f:ajax event="blur" render="address1error" />
														<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
													</h:inputText>
													<h:message id="address1error" for="address1"
														errorclass="errorsignup"
														styleClass="has-error errorsignup" />
												</div>
											</div>

											<div class="form-group">
												<label class="col-sm-3 control-label" for="address2">#{msg['address2InputField']}</label>
												<div class="col-sm-3">
													<h:inputText
														styleClass="form-control personal-form-control"
														id="address2" placeholder="1234 Boot Strap"
														value="#{shippingInfoBean.shipAddress2}" label="Adress 2"
														size="25" maxlength="25"
														validatorMessage="This field cannot contains special caracter">
														<f:ajax event="blur" render="address2error" />
														<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
													</h:inputText>
													<h:message id="address2error" for="address2"
														errorclass="errorsignup"
														styleClass="has-error errorsignup" />
												</div>
											</div>

											<div class="form-group">
												<label class="col-sm-3 control-label" for="city">#{msg['cityInputField']}</label>
												<div class="col-sm-3">
													<h:inputText
														styleClass="form-control personal-form-control" id="city"
														placeholder="Montreal"
														value="#{shippingInfoBean.shipCity}" required="true"
														label="City" size="30" maxlength="30"
														validatorMessage="This field cannot contain special characters or digits">
														<f:ajax event="blur" render="cityerror" />
														<f:validateRegex pattern="[a-zA-Z ]*" />
													</h:inputText>
													<h:message id="cityerror" for="city"
														errorclass="errorsignup"
														styleClass="has-error errorsignup" />
												</div>
											</div>

											<div class="form-group">
												<label class="col-sm-3 control-label" for="postal">#{msg['postalCodeInputField']}</label>
												<div class="col-sm-3">
													<h:inputText
														styleClass="form-control personal-form-control"
														id="postal" placeholder="A1A 1A1"
														value="#{shippingInfoBean.shipPostalCode}" required="true"
														label="Postal" size="10" maxlength="10"
														validatorMessage="Error postalcode format : H1W 1R9">
														<f:ajax event="blur" render="postalerror" />
														<f:validateRegex
															pattern="(^\d{5}(-\d{4})?$)|(^[ABCEGHJKLMNPRSTVXY]{1}\d{1}[A-Z]{1} *\d{1}[A-Z]{1}\d{1}$)" />
													</h:inputText>
													<h:message id="postalerror" for="postal"
														errorclass="errorsignup"
														styleClass="has-error errorsignup" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label" for="country">#{msg['countryInputField']}</label>
												<div class="col-sm-3">
													<h:selectOneMenu id="country"
														styleClass="form-control personal-form-control country-dropdown"
														value="#{shippingInfoBean.shipCountry}"
														onchange="changeProvinceList()">
														<f:selectItems styleClass="country-dropdown"
															value="#{clientBean.countryValue}" />
													</h:selectOneMenu>
												</div>
											</div>

											<div class="form-group">
												<label class="col-sm-3 control-label" for="province">#{msg['provinceInputField']}</label>
												<div class="col-sm-3">
													<h:selectOneMenu id="province" name="province"
														styleClass="form-control personal-form-control"
														value="#{shippingInfoBean.shipProvince}">
														<f:selectItems value="#{clientBean.provinceValue}" />
													</h:selectOneMenu>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default btn-sm "
												data-dismiss="modal">#{msg.managementClose}</button>
											<h:commandButton type="submit" styleClass="btn btn-default"
												value="#{msg['submitButton']}"
												action="#{managementBean.newShippingInfo(shippingInfoBean)}">
											</h:commandButton>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- /.modal -->

						</h:form>

					</fieldset>
				</div>
				<div id="order-history">
					<legend>Order History</legend>
					<h:form>
						<fieldset>
							<h:dataTable id="displaypurchase"
								value="#{invoiceAction.getInvoiceClient(loginBean.email, managementBean.vide, managementBean.vide)}"
								var="invoiceinfo"
								styleClass="table table-striped table-condensed">
								<h:column>
									<f:facet name="header">#{msg.managementSaleSumber}</f:facet>
								#{invoiceinfo.saleNumber}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementDateOfSale}</f:facet>
								#{invoiceinfo.date} </h:column>
								<h:column>
									<f:facet name="header">#{msg.managementTotalGross}</f:facet>
								#{invoiceinfo.totalGross} </h:column>
								<h:column>
									<!-- Modal INVOICEDETAIL -->
									<div class="modal fade margintop scroll"
										id="invoicedetail_#{invoiceinfo.saleNumber}" tabindex="-1"
										role="dialog" aria-labelledby="myModalLabel"
										aria-hidden="true">
										<div class="modal-dialog margintop">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"
														aria-hidden="true">&times;</button>
													<h4 class="modal-title">#{msg.accountInvoiceDetail}</h4>
												</div>
												<div class="modal-body">
													<h:dataTable id="displayinvoicedetail"
														value="#{invoiceDetailAction.getInvoiceDetailPerInvoice(invoiceinfo.saleNumber)}"
														var="invoiced"
														styleClass="table table-striped table-condensed">
														<h:column>
															<f:facet name="header">#{msg.managementBook}</f:facet>
								#{managementBean.getBookName(invoiced.bookIsbn)}</h:column>
														<h:column>
															<f:facet name="header">#{msg.managementQuantity}</f:facet>
								#{invoiced.quantity}</h:column>
														<h:column>
															<f:facet name="header">#{msg.managementBookPrice}</f:facet>
								#{invoiced.bookPrice} </h:column>
														<h:column>
															<f:facet name="header">#{msg.managementTotal}</f:facet>
								#{managementBean.getTotal(invoiced.quantity, invoiced.bookPrice)} </h:column>
														<h:column>
															<f:facet name="header">#{msg.bookDownload}</f:facet>
															<h:commandLink class="btn btn-default btn-danger btn-sm "
																rendered="#{managementBean.isEbookFormat(invoiced.bookIsbn)}">
																<span class="glyphicon glyphicon-download"></span>
																<f:ajax execute="@form" render="@form" />
															</h:commandLink>
														</h:column>
													</h:dataTable>

												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default btn-sm "
														data-dismiss="modal">#{msg.managementClose}</button>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
									<!-- /.modal -->
								</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementAction}</f:facet>
									<a class="btn btn-default btn-sm " data-toggle="modal"
										href="#invoicedetail_#{invoiceinfo.saleNumber}">#{msg.invoiceDetail}
										<span class="glyphicon glyphicon-zoom-in"></span>
									</a>
								</h:column>
							</h:dataTable>

							<b>#{msg.managementTotal} : </b> <b>#{msg.canadianDollar}</b>
							<h:outputText
								value="#{invoiceAction.getTotalGross(loginBean.email)}" />
						</fieldset>

					</h:form>
				</div>
			</div>
		</h:panelGroup>
	</div>

	<!-- Start of Footer Div -->
	<ui:include src="/WEB-INF/templates/footer.xhtml" />
	<!-- End of Footer Div -->
</f:view>
</h:body>
</html>
