<?xml version='1.0' encoding='UTF-8' ?>

<!--
	Web page that displays the user's cart before proceeding to the checkout.
	  
	Author: Tyler Patricio, Sean-Frankel Gaon Canlas
	Date: March 8th, 2014
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<!-- HEAD -->
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Your Cart</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />

	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />

	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="cart.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="jquery.mask.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
	<h:outputScript library="scripts" name="main.js" />
</h:head>

<!-- BODY -->
<h:body>
<f:view locale="#{localeChanger.locale}">
<f:event listener="#{cartBean.refreshCart}" type="preRenderView" />
	
	<ui:include src="/WEB-INF/templates/header.xhtml" />

	<div class="booksInCart">
		<!-- header containing column titles -->
		<div id="headers">
			<ul>
				<li id="item">
					<h2>#{msg['item']}</h2>
				</li>

				<li id="quantity">
					<h2>#{msg['managementQuantity']}</h2>
				</li>

				<li id="price">
					<h2>#{msg['price']}</h2>
				</li>
			</ul>
		</div>

		<ui:repeat value="#{cartBean.shoppingCart}" var="cartedBook">
			<h:form>
				<!-- book format for whole shopping cart -->
				<div id="book" class="cartedBook">
					<!-- displays the front cover of the book -->
					<h:link outcome="toBookView">
						<h:graphicImage styleClass="bookImage" library="bookscover"
							name="#{cartedBook.bookCoverImg}" />
						<f:param name="isbn13" value="#{cartedBook.isbn13}" />
					</h:link>
					<!-- displays book information -->
					<div class="bookInfo">
						<h3>
							<h:link outcome="toBookView">
						#{cartedBook.title}
						<f:param name="isbn13" value="#{cartedBook.isbn13}" />
							</h:link>
						</h3>
						<p>By: #{cartedBook.author}</p>
						<p>#{cartedBook.bookFormat}</p>
						<br><p>#{msg['INSTOCK']}</p></br>
					</div>

					<!-- desired quantity of books -->
					<div id="q" class="requestQuantity">
						<h:inputText id="requestedQuantity" styleClass="requestedQuantity"
							value="#{cartedBook.quantity}" required="true" maxlength="2"
							size="2">
						</h:inputText>

						<h:commandLink id="update" value=" #{msg['update']}"
							action="#{cartBean.validateQuantityInput(cartedBook.isbn13)}">
						</h:commandLink>
					</div>

					<div class="pricing">
						<h3 id="bookPrice">$#{cartedBook.bookPricing}</h3>
					</div>
					<h:commandLink styleClass="removeBookBtn btn btn-default"
						value="#{msg['remove']}"
						action="#{cartBean.removeBook(cartedBook.isbn13)}"></h:commandLink>
				</div>
			</h:form>
		</ui:repeat>

		<div id="pricingSummary">
			<h3 id="cartUpdate">
				<span id="itemsCountUpdate">#{cartBean.numOfBooksInCart}</span>
				#{msg['itemsInCart']}
			</h3>
			<h3 id="subtotal-h3">
				#{msg['subtotal']} <span id="subtotal">$#{cartBean.subtotal}</span>
			</h3>
			<h:form>
				<h:commandButton id="checkout" action="checkout_shippinginfo"
					disabled="#{!loginBean.logedin}" styleClass="btn"
					value="#{msg['checkout']}"></h:commandButton>
			</h:form>
		</div>
	</div>
	<!-- Close booksInCart div -->

	<!-- FOOTER -->
	<ui:include src="/WEB-INF/templates/footer.xhtml" />

	<!-- Script for dynamically removing books from cart.
		
	     @author Tyler Patricio
	 -->
	<script type="text/javascript">		
		$('.requestedQuantity').mask('00');
		
		$(".removeBookBtn").click(function(event) {
			// convert required data to numeric form and store them
			var itemsCount = +($("#itemsCountUpdate").text());
			var subtotal = +($("#subtotal").text().replace("$", ""));
			var bookPrice = +($("#bookPrice").text().replace("$", ""));

			$("#book").slideUp("slow");
		});
	</script>
	</f:view>
</h:body>
</html>