<?xml version='1.0' encoding='UTF-8' ?>

<!--	
	This is the summary of the information previously entered.
	It is the same forms but with disabled fields.
	
author: Sophie Leduc Major
	
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<!-- HEAD -->
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>BookBay</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />

	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />

	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="checkout_summary.css" />
	<h:outputStylesheet library="css" name="jquery.bxslider.css" />

	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
	<h:outputScript library="scripts" name="jquery.bxslider.js" />
	<h:outputScript library="scripts" name="main.js" />


</h:head>

<h:body>
<f:view locale="#{localeChanger.locale}">
	<!-- Start of Wrapper Div -->
	<div id="wrapper">

		<!-- Start of Header Div -->
		<ui:include src="/WEB-INF/templates/header.xhtml" />
		<!-- End of Header Div -->

		<f:event listener="#{checkoutBean.generateReceit}"
			type="preRenderView" />


		<div id="content">

			<h1>
				<label>#{msg['checkout']} <small>#{msg['confirmorder']}</small></label>
			</h1>



			<div id="progress" class="progress">
				<div class="progress-bar progress-bar-error" style="width: 80%">
					#{msg['confirmorder']}</div>
			</div>


			<div>
				<div id="billingDiv" class="panel panel-default">
					<div class="panel-body">
						<h:form styleClass="form" id="billingform">
							<legend>#{msg['billinginfo']}</legend>
							<fieldset class="fields">
								<label for="title" class="fields-label">#{msg['titleInputField']}
								</label>
								<h:selectOneMenu disabled="true" id="title" value="#{clientBean.title}"
									class="fields-input">
									<f:selectItems value="#{clientBean.titleValue}" />
								</h:selectOneMenu>
							</fieldset>

							<fieldset>
								<label for="firstname">#{msg['firstNameInputField']} </label>
								<h:inputText disabled="true" id="firstname" class="fields-input"
									placeholder="John" value="#{clientBean.firstName}"
									required="true" label="First name" size="15" maxlength="15"
									validatorMessage="This field cannot contains special caracter or digit">
									<f:ajax event="blur" render="firstnameerror" />
									<f:validateRegex pattern="[a-zA-Z ]*" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="firstnameerror" for="firstname"
										errorclass="errorbillinginfo" />
								</div>
							</fieldset>

							<fieldset>
								<label for="lastname">#{msg['lastNameInputField']} </label>
								<h:inputText disabled="true" class="fields-input" id="lastname"
									value="#{clientBean.lastName}" required="true"
									label="Last name" size="20" maxlength="20"
									validatorMessage="This field cannot contains special caracter or digit">
									<f:ajax event="blur" render="lastnameerror" />
									<f:validateRegex pattern="[a-zA-Z ]*" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="lastnameerror" for="lastname"
										errorclass="errorbillinginfo" />
								</div>
							</fieldset>

							<fieldset>
								<label for="companyname">#{msg['companyNameInputField']}
								</label>
								<h:inputText disabled="true" class="fields-input" id="companyname"
									value="#{clientBean.company}" label="Company name" size="15"
									maxlength="15"
									validatorMessage="This field cannot contains special caracter">
									<f:ajax event="blur" render="companyerror" />
									<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="companyerror" for="companyname"
										errorclass="errorbillinginfo" />
								</div>
							</fieldset>

							<fieldset>
								<label for="address1">#{msg['address1InputField']} </label>
								<h:inputText disabled="true" class="fields-input" id="address1"
									placeholder="1234 Bay Street" value="#{clientBean.address1}"
									required="true" label="Address 1" size="25" maxlength="25"
									validatorMessage="This field cannot contains special caracter">
									<f:ajax event="blur" render="address1error" />
									<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="address1error" for="address1"
										errorclass="errorbillinginfo" />
								</div>
							</fieldset>

							<fieldset>
								<label for="address2">#{msg['address2InputField']} </label>
								<h:inputText disabled="true" class="fields-input" id="address2"
									value="#{clientBean.address2}" label="Address 2" size="25"
									maxlength="25"
									validatorMessage="This field cannot contains special caracter">
									<f:ajax event="blur" render="address2error" />
									<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="address2error" for="address2"
										errorclass="errorbillinginfo" />
								</div>
							</fieldset>

							<fieldset>
								<label for="city">#{msg['cityInputField']} </label>
								<h:inputText disabled="true" class="fields-input" id="city"
									value="#{clientBean.city}" required="true" label="City"
									size="30" maxlength="30"
									validatorMessage="This field cannot contain special characters or digits">
									<f:ajax event="blur" render="cityerror" />
									<f:validateRegex pattern="[a-zA-Z ]*" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="cityerror" for="city" errorclass="errorsignup"
										styleClass="errorbillinginfo" />
								</div>

							</fieldset>

							<fieldset>
								<label for="province">#{msg['provinceInputField']} </label>
								<h:selectOneMenu disabled="true" id="province" name="province"
									class="fields-input" value="#{clientBean.province}">
									<f:selectItems value="#{clientBean.provinceValue}" />
								</h:selectOneMenu>
							</fieldset>

							<fieldset>
								<label for="country">#{msg['countryInputField']} </label>
								<h:selectOneMenu disabled="true" id="country" class="fields-input"
									value="#{clientBean.country}" onchange="changeProvinceList()">
									<f:selectItems styleClass="country-dropdown"
										value="#{clientBean.countryValue}" />
								</h:selectOneMenu>
							</fieldset>

							<fieldset>
								<label for="postalcode">#{msg['postalCodeInputField']} </label>
								<h:inputText disabled="true" id="postalcode" class="fields-input"
									placeholder="A1A 1A1" value="#{clientBean.postalCode}"
									required="true" label="Postal code" size="10" maxlength="10"
									validatorMessage="Error postal code format : H1W 1R9">
									<f:ajax event="blur" render="postalerror" />
									<f:validateRegex
										pattern="(^\d{5}(-\d{4})?$)|(^[ABCEGHJKLMNPRSTVXY]{1}\d{1}[A-Z]{1} *\d{1}[A-Z]{1}\d{1}$)" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="postalerror" for="postalcode"
										errorclass="errorbillinginfo" />
								</div>
							</fieldset>

							<fieldset>
								<label for="celltelephone">#{msg['cellPhoneInputField']}
								</label>
								<h:inputText disabled="true" class="fields-input" id="cellphone"
									value="#{clientBean.cellTelephone}" label="Cellphone" size="12"
									maxlength="12"
									validatorMessage="Error phone number format : (514)123-4567">
									<f:ajax event="blur" render="celltelephoneerror" />
									<f:validateRegex pattern="\(?(\d{3})\)?-?(\d{3})-(\d{4})" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="celltelephoneerror" for="cellphone"
										errorclass="errorsignup" />

								</div>
							</fieldset>

							<fieldset>
								<label for="hometelephone">#{msg['homePhoneInputField']}
								</label>
								<h:inputText disabled="true" class="fields-input" id="hometelephone"
									value="#{clientBean.homeTelephone}" label="Home phone"
									size="12" maxlength="12"
									validatorMessage="Error phone number format : (514)123-4567">
									<f:ajax event="blur" render="hometelephoneerror" />
									<f:validateRegex pattern="\(?(\d{3})\)?-?(\d{3})-(\d{4})" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="hometelephoneerror" for="hometelephone"
										errorclass="errorsignup" />

								</div>
							</fieldset>


						</h:form>
					</div>
				</div>

				<div id="shippingDiv" class="panel panel-default">
					<div class="panel-body">
						<h:form styleClass="form" id="shippingform">
							<legend>#{msg['shippinginfo']}</legend>

							<fieldset class="fields">
								<label for="shiptitle" class="fields-label">#{msg['titleInputField']}
								</label>
								<h:selectOneMenu disabled="true" id="shiptitle"
									value="#{shippingInfoBean.shipTitle}" class="fields-input">
									<f:selectItems value="#{shippingInfoBean.shipTitleValue}" />
								</h:selectOneMenu>
							</fieldset>

							<fieldset>
								<label for="shipfirstname">#{msg['firstNameInputField']}
								</label>
								<h:inputText disabled="true" id="shipfirstname" class="fields-input"
									value="#{shippingInfoBean.shipFirstName}" required="true"
									label="First name" size="15" maxlength="15"
									validatorMessage="This field cannot contains special caracter or digit">
									<f:ajax event="blur" render="shipfirstnameerror" />
									<f:validateRegex pattern="[a-zA-Z ]*" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="shipfirstnameerror" for="shipfirstname"
										errorclass="errorbillinginfo" />
								</div>
							</fieldset>

							<fieldset>
								<label for="shiplastname">#{msg['lastNameInputField']} </label>
								<h:inputText disabled="true" class="fields-input" id="shiplastname"
									value="#{shippingInfoBean.shipLastName}" required="true"
									label="Last name" size="20" maxlength="20"
									validatorMessage="This field cannot contains special caracter or digit">
									<f:ajax event="blur" render="shiplastnameerror" />
									<f:validateRegex pattern="[a-zA-Z ]*" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="shiplastnameerror" for="shiplastname"
										errorclass="errorbillinginfo" />
								</div>
							</fieldset>

							<fieldset>
								<label for="shipcompanyname">#{msg['companyNameInputField']}
								</label>
								<h:inputText disabled="true" class="fields-input" id="shipcompanyname"
									value="#{shippingInfoBean.shipCompany}" label="Company name"
									size="15" maxlength="15"
									validatorMessage="This field cannot contains special caracter">
									<f:ajax event="blur" render="shipcompanyerror" />
									<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="shipcompanyerror" for="shipcompanyname"
										errorclass="errorbillinginfo" />
								</div>
							</fieldset>

							<fieldset>
								<label for="shipaddress1">#{msg['address1InputField']} </label>
								<h:inputText disabled="true" class="fields-input" id="shipaddress1"
									placeholder="1234 Bay Street"
									value="#{shippingInfoBean.shipAddress1}" required="true"
									label="Address 1" size="25" maxlength="25"
									validatorMessage="This field cannot contains special character">
									<f:ajax event="blur" render="shipaddress1error" />
									<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="shipaddress1error" for="shipaddress1"
										errorclass="errorbillinginfo" />
								</div>
							</fieldset>

							<fieldset>
								<label for="shipaddress2">#{msg['address2InputField']} </label>
								<h:inputText disabled="true" class="fields-input" id="shipaddress2"
									value="#{shippingInfoBean.shipAddress2}" label="Address 2"
									size="25" maxlength="25"
									validatorMessage="This field cannot contains special character">
									<f:ajax event="blur" render="shipaddress2error" />
									<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="shipaddress2error" for="shipaddress2"
										errorclass="errorbillinginfo" />
								</div>
							</fieldset>

							<fieldset>
								<label for="shipcity">#{msg['cityInputField']} </label>
								<h:inputText disabled="true" class="fields-input" id="shipcity"
									value="#{shippingInfoBean.shipCity}" required="true"
									label="City" size="30" maxlength="30"
									validatorMessage="This field cannot contain special characters or digits">
									<f:ajax event="blur" render="shipcityerror" />
									<f:validateRegex pattern="[a-zA-Z ]*" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="shipcityerror" for="shipcity"
										errorclass="errorsignup" styleClass="errorbillinginfo" />
								</div>

							</fieldset>

							<fieldset>
								<label for="shipprovince">#{msg['provinceInputField']} </label>
								<h:selectOneMenu disabled="true" id="shipprovince" name="province"
									class="fields-input" value="#{shippingInfoBean.shipProvince}">
									<f:selectItems value="#{shippingInfoBean.shipProvinceValue}" />
								</h:selectOneMenu>
							</fieldset>

							<fieldset>
								<label for="shipcountry">#{msg['countryInputField']} </label>
								<h:selectOneMenu disabled="true" id="shipcountry" class="fields-input"
									value="#{shippingInfoBean.shipCountry}">
									<f:selectItems styleClass="country-dropdown"
										value="#{shippingInfoBean.shipCountryValue}" />
								</h:selectOneMenu>
							</fieldset>

							<fieldset>
								<label for="shippostalcode">#{msg['postalCodeInputField']}
								</label>
								<h:inputText disabled="true" id="shippostalcode" class="fields-input"
									value="#{shippingInfoBean.shipPostalCode}" required="true"
									label="Postal code" size="10" maxlength="10"
									validatorMessage="Error postal code format : H1W 1R9">
									<f:ajax event="blur" render="shippostalerror" />
									<f:validateRegex
										pattern="(^\d{5}(-\d{4})?$)|(^[ABCEGHJKLMNPRSTVXY]{1}\d{1}[A-Z]{1} *\d{1}[A-Z]{1}\d{1}$)" />
								</h:inputText>
								<div class="fields-error">
									<h:message id="shippostalerror" for="shippostalcode"
										errorclass="errorbillinginfo" />
								</div>
							</fieldset>
						</h:form>
					</div>
				</div>
			</div>
			<!-- End of content Div -->


			<div id="cartDiv">
				<div id="innercartdiv" class="panel panel-default">
					<div class="panel-body">
						<h:form styleClass="form" id="cartform">
							<legend>#{msg['yourorder']}</legend>
						</h:form>

						<div class="tab-content">
							<div class="tab-pane active .fade" id="book">
								<h:form>
									<h:dataTable id="displaycart" value="#{cartBean.shoppingCart}"
										var="book" styleClass="table table-striped table-condensed">
										<h:column>
											<f:facet name="header">#{msg.managementBook}</f:facet>
								#{book.title}</h:column>
										<h:column>
											<f:facet name="header">#{msg.managementAuthor}</f:facet>
								#{book.author} </h:column>
										<h:column>
											<f:facet name="header">#{msg.managementQuantity}</f:facet>
								#{book.quantity} </h:column>

										<h:column>
											<f:facet name="header">#{msg.managementPrice}</f:facet>
								$#{book.bookPricing} </h:column>


									</h:dataTable>
								</h:form>
							</div>
							<div style="text-align: right">
								#{msg['subtotal']} <span id="subtotal">$#{checkoutBean.subtotal}</span><br />

								#{msg['GST']} <span id="GSTtaxes">$#{checkoutBean.gst}</span><br />

								#{msg['PST']} <span id="PSTtaxes">$#{checkoutBean.pst}</span><br />

								#{msg['total']} <span id="total">$#{checkoutBean.total}</span><br />
							</div>
						</div>
					</div>

				</div>
				<div id="button">
					<h:link class="confirm" outcome="checkout_thankyou.xhtml"
						value="#{msg['confirmorder']}"
						action="#{checkoutBean.createOrder}" />
				</div>
			</div>
		</div>
		</div>
		<!-- End of Wrapper Div -->




		<!-- Start of Footer Div -->
		<ui:include src="/WEB-INF/templates/footer.xhtml" />
		<!-- End of Footer Div -->
		</f:view>
</h:body>


</html>