<?xml version='1.0' encoding='UTF-8' ?>

<!--
	This page is for the payment information, nothing is saved.
	

	Author: Sophie Leduc Major
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<!-- HEAD -->
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>BookBay</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />

	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />

	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="checkout_payment.css" />
	<h:outputStylesheet library="css" name="jquery.bxslider.css" />

	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
	<h:outputScript library="scripts" name="jquery.bxslider.js" />
	<h:outputScript library="scripts" name="main.js" />


</h:head>


<h:body>
<f:view locale="#{localeChanger.locale}">

	<ui:include src="/WEB-INF/templates/header.xhtml" />


	<div id="content">

		<h1>
			<label>#{msg['checkout']} <small>#{msg['payment']}</small></label>
		</h1>



		<div id="progress" class="progress">
			<div class="progress-bar progress-bar-warnning" style="width: 60%">
				#{msg['payment']}</div>
		</div>
		<div id="inner">


			<div id="creditcardinfodiv" class="panel panel-default">
				<h:form styleClass="form" id="creditcardform">
					<div class="panel-body">

						<h3>#{msg['creditcardinfo']}</h3>
						<fieldset class="fields">
							<label for="creditcardnumber" class="fields-label">#{msg['creditcardnumber']}
							</label>
							<h:inputText id="creditcardnumber" class="fields-input"
								required="true" label="Credit Card" size="15" maxlength="24"
								validatorMessage="The credit card number entered is invalid. Do not add spaces.">
								<f:ajax event="blur" render="creditcarderror" />
								<f:validateRegex
									pattern="^(?:4[0-9]{12}(?:[0-9]{3})?| 5[1-5][0-9]{14}| 6(?:011| 5[0-9][0-9])[0-9]{12}| 3[47][0-9]{13}| 3(?:0[0-5]| [68][0-9])[0-9]{11}| (?:2131|1800|35\d{3})\d{11})$" />
							</h:inputText>
							<div class="fields-error">
								<h:message id="creditcarderror" for="creditcardnumber"
									errorclass="errorcreditcardinfo" />
							</div>
						</fieldset>

						<fieldset class="fields">
							<label for="creditcardexpiry" class="fields-label">#{msg['expirydate']}
							</label>
							<h:selectOneMenu id="month" class="fields-dropdown">
								<f:selectItem itemValue="1" itemLabel="#{msg['january']}" />
								<f:selectItem itemValue="2" itemLabel="#{msg['february']}" />
								<f:selectItem itemValue="3" itemLabel="#{msg['march']}" />
								<f:selectItem itemValue="4" itemLabel="#{msg['april']}" />
								<f:selectItem itemValue="5" itemLabel="#{msg['may']}" />
								<f:selectItem itemValue="6" itemLabel="#{msg['june']}" />
								<f:selectItem itemValue="7" itemLabel="#{msg['july']}" />
								<f:selectItem itemValue="8" itemLabel="#{msg['august']}" />
								<f:selectItem itemValue="9" itemLabel="#{msg['september']}" />
								<f:selectItem itemValue="10" itemLabel="#{msg['october']}" />
								<f:selectItem itemValue="11" itemLabel="#{msg['november']}" />
								<f:selectItem itemValue="12" itemLabel="#{msg['december']}" />
							</h:selectOneMenu>
							<h:selectOneMenu id="year">
								<f:selectItem itemValue="2014" itemLabel="2014" />
								<f:selectItem itemValue="2015" itemLabel="2015" />
								<f:selectItem itemValue="2016" itemLabel="2016" />
								<f:selectItem itemValue="2017" itemLabel="2017" />
								<f:selectItem itemValue="2018" itemLabel="2018" />
								<f:selectItem itemValue="2019" itemLabel="2019" />
								<f:selectItem itemValue="2020" itemLabel="2020" />
								<f:selectItem itemValue="2021" itemLabel="2021" />
								<f:selectItem itemValue="2022" itemLabel="2022" />
								<f:selectItem itemValue="2023" itemLabel="2023" />
								<f:selectItem itemValue="2024" itemLabel="2024" />
								<f:selectItem itemValue="2025" itemLabel="2025" />
							</h:selectOneMenu>
						</fieldset>

						<fieldset class="fields">
							<label for="securitycode" class="fields-label">#{msg['securitycode']}
							</label>
							<h:inputText id="securitycode" required="true"
								label="Security Code" size="4" maxlength="4"
								validatorMessage="The Security code entered is invalid">
								<f:ajax event="blur" render="securitycodeerror" />
								<f:validateRegex pattern="([0-9]{3,4})" />
							</h:inputText>
							<div class="fields-error">
								<h:message id="securitycodeerror" for="securitycode"
									errorclass="errorcreditcardinfo" />
							</div>
						</fieldset>

						<fieldset class="fields">
							<label for="nameoncard">#{msg['nameoncard']} </label>
							<h:inputText id="nameoncard" class="fields-input" required="true"
								label="Name on Credit Card" size="25" maxlength="25"
								validatorMessage="This field cannot contains special caracter or digit">
								<f:ajax event="blur" render="nameoncarderror" />
								<f:validateRegex pattern="[a-zA-Z ]*" />
							</h:inputText>
							<div class="fields-error">
								<h:message id="nameoncarderror" for="nameoncard"
									errorclass="errorcreditcardinfo" />
							</div>
						</fieldset>
					</div>
					<h:commandButton type="submit" class="summary"
						action="checkout_summary" value="#{msg['ordersummary...']}" />
				</h:form>
			</div>
		</div>

	</div>


	<ui:include src="/WEB-INF/templates/footer.xhtml" />

</f:view>
</h:body>

</html>