<?xml version='1.0' encoding='UTF-8' ?>
<!--  
	Authors: Sean-Frankel Gaon Canlas, Theo De Villenueve, Tyler Patricio, Jhonatan Orjuela
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
			"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>BookBay</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />

	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />

	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="index.css" />
	<h:outputStylesheet library="css" name="jquery.bxslider.css" />

	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
	<h:outputScript library="scripts" name="jquery.bxslider.js" />
	<h:outputScript library="scripts" name="main.js" />
</h:head>
<h:body>
<f:view locale="#{localeChanger.locale}">
	<f:event listener='#{displayBooksBean.setSearchType("3")}'
		type="preRenderView" />
	<!-- Start of Wrapper Div -->
	<div id="wrapper">

		<!-- Start of Header Div -->
		<ui:include src="/WEB-INF/templates/header.xhtml" />
		<!-- End of Header Div -->

		<!-- Start of Menu Div -->
		<div id="menu">
			<h:form>
				<ul class="menu-list">
					<h:commandLink styleClass="menu-link"
						action='#{displayBooksBean.setMenuItem("Fiction")}'>
						<li>#{msg['fiction']}</li>
					</h:commandLink>
					<h:commandLink styleClass="menu-link"
						action='#{displayBooksBean.setMenuItem("Fantasy")}'>
						<li>#{msg['fantasy']}</li>
					</h:commandLink>
					<h:commandLink styleClass="menu-link"
						action='#{displayBooksBean.setMenuItem("Horror")}'>
						<li>#{msg['horror']}</li>
					</h:commandLink>
					<h:commandLink styleClass="menu-link"
						action='#{displayBooksBean.setMenuItem("Science Fiction")}'>
						<li>#{msg['scienceFiction']}</li>
					</h:commandLink>

					<h:commandLink styleClass="menu-link"
						action='#{displayBooksBean.setMenuItem("Mystery")}'>
						<li>#{msg['mystery']}</li>
					</h:commandLink>
					<h:commandLink styleClass="menu-link"
						action='#{displayBooksBean.setMenuItem("Thriller")}'>
						<li>#{msg['thriller']}</li>
					</h:commandLink>

				</ul>
			</h:form>
			
			
			<div id="rss">
			<h4><b>RSS</b></h4>
				<div id="rss-feed">
					<!-- the rss feed is displaying thanks to a primefaces  tag -Jhon -->
					<p:feedReader size="10" value="http://feeds.feedburner.com/crunchgear"
						var="feed">
						<h:outputText value="#{feed.title}"></h:outputText>

						<h:outputText value="#{feed.description.value}" escape="false" />
						<p:separator />
					</p:feedReader>
				</div>
			</div>
		</div>
		<!-- End of Menu Div -->

		<!-- Start of Top Books Div -->
		<div id="topbooks">
			<h3>#{msg['topSellers']}</h3>
			<div class="bxslider">
				<ui:repeat value="#{displayBooksBean.topSellers}" var="topSellers">

					<div class="top-book">
						<h:link outcome="toBookView">
							<h:graphicImage styleClass="book-img" library="bookscover"
								name="#{topSellers.bookCoverImg}" />
							<f:param name="isbn13" value="#{topSellers.isbn13}" />
						</h:link>
						<div class="book-info">
							<div class="book-title">
								<h:link outcome="toBookView">
								#{topSellers.title}
								<f:param name="isbn13" value="#{topSellers.isbn13}" />
								</h:link>
								<br></br>
								<p class="book-author">#{topSellers.author}</p>
							</div>
							<div class="book-price">$#{topSellers.listPrice}</div>
						</div>
					</div>
				</ui:repeat>
			</div>
		</div>
		<!-- End of Top Books Div -->

		<!-- Start of Advertisement Div -->
		<div id="advertisement">
			<h:form>
				<h:outputLink value="#{adActionBean.externalUrl}" target="_blank">
					<h:graphicImage library="advertisements"
						name="#{adActionBean.fileName}" length="200" />
				</h:outputLink>
			</h:form>
		</div>
		<!-- End of Advertisement Div -->

		<!-- Start of Sale Div -->
		<div id="sale">
			<h3>#{msg['onSale']}</h3>
			<div class="bxslider">
				<ui:repeat value="#{displayBooksBean.booksOnSale}" var="onSale">

					<div class="top-book">
						<h:link outcome="toBookView">
							<h:graphicImage styleClass="book-img" library="bookscover"
								name="#{onSale.bookCoverImg}" />
							<f:param name="isbn13" value="#{onSale.isbn13}" />
						</h:link>
						<div class="book-info">
							<div class="book-title">
								<h:link outcome="toBookView">
								#{onSale.title}
								<f:param name="isbn13" value="#{onSale.isbn13}" />
								</h:link>
								<br></br>
								<p class="book-author">#{onSale.author}</p>
							</div>
							<div class="book-price">$#{onSale.listPrice}</div>
						</div>
					</div>
				</ui:repeat>
			</div>
		</div>
		<!-- End of Sale Div -->

		<!-- Start of Recently View Div -->
		<div id="recent">
			<h3>#{msg['recentlyViewed']}</h3>
			<div class="bxslider">
				<ui:repeat value="#{displayBooksBean.allBooks}" var="bestSellers">

					<div class="top-book">
						<h:link outcome="toBookView">
							<h:graphicImage styleClass="book-img" library="bookscover"
								name="#{bestSellers.bookCoverImg}" />
							<f:param name="isbn13" value="#{bestSellers.isbn13}" />
						</h:link>
						<div class="book-info">
							<div class="book-title">
								<h:link outcome="toBookView">
								#{bestSellers.title}
								<f:param name="isbn13" value="#{bestSellers.isbn13}" />
								</h:link>
								<br></br>
								<p class="book-author">#{bestSellers.author}</p>
							</div>
							<div class="book-price">$#{bestSellers.listPrice}</div>
						</div>
					</div>
				</ui:repeat>
			</div>
		</div>

		<!-- End of Recently View Div -->

	</div>
	<!-- End of Wrapper Div -->

	<!-- Start of Footer Div -->
	<ui:include src="/WEB-INF/templates/footer.xhtml" />
	<!-- End of Footer Div -->
</f:view>
</h:body>
</html>