<?xml version='1.0' encoding='UTF-8' ?>
<!--  
	Authors: Theo De Villeneuve
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>#{msg['bookViewTitle']}</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="management_book.css" />
	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="main.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
</h:head>
<h:body>
	<ui:composition>
		<div class="tab-pane active .fade" id="report">
			<ul class="nav nav-tabs">
				<li><a href="#list" data-toggle="tab">#{msg.managementreport10}</a></li>
				<li><a href="#create" data-toggle="tab">#{msg.managementreport11}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active .fade" id="list">
					<div class="footercorrect">
						<h:form>
							<h:dataTable id="displayadvertisements"
								value="#{advertisementAction.queryRecords}" var="adinfo"
								styleClass="table table-striped table-condensed">
								<h:column>
									<f:facet name="header">#{msg.managementId}</f:facet>
								#{adinfo.adId}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementUrl}</f:facet>
								#{adinfo.url} </h:column>
								<h:column>
									<f:facet name="header">#{msg.managementAction}</f:facet>
									<h:commandButton class="btn btn-default btn-sm "
										value="#{msg.managementSetSurvey}"
										rendered="#{not adinfo.display}"
										action="#{managementBean.displayAd(adinfo.adId)}">
										<f:ajax execute="@form" render="@form" />
									</h:commandButton>
									<h:commandButton class="btn btn-default btn-sm "
										value="#{msg.managementStopSurvey}"
										rendered="#{adinfo.display}"
										action="#{managementBean.displayAd(adinfo.adId)}">
										<f:ajax execute="@form" render="@form" />
									</h:commandButton>
									<span></span>
									<h:commandLink
										action="#{advertisementAction.deleteRecord(adinfo)}"
										class="btn btn-default btn-danger btn-sm ">
										<span class="glyphicon glyphicon-remove"></span>
										<f:ajax execute="@form" render="@form" />
									</h:commandLink>
								</h:column>
							</h:dataTable>
						</h:form>
					</div>
				</div>
				<div class="tab-pane .fade" id="create">
					<div class="footercorrect">
						<h:form styleClass="form form-horizontal">
							<legend>#{msg.managementNewAd}</legend>
							<fieldset>
								<br />
								<div class="form-group">
									<label class="col-sm-4 control-label" for="url">#{msg.managementUrl}
									</label>
									<div class="col-sm-5">
										<h:inputText styleClass="form-control" id="url"
											value="#{advertisementBean.url}" required="true">
										</h:inputText>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">#{msg.managementAdImage}</label>
									<div class="col-sm-5">
										<h:panelGrid columns="2" columnClasses="top,top">
											<rich:fileUpload
												fileUploadListener="#{fileUploadBean.listenerAd}"
												id="upload" acceptedTypes="jpg, gif, png, bmp"
												ontyperejected="alert('Only JPG, GIF, PNG and BMP files are accepted');"
												maxFilesQuantity="1">
												<a4j:ajax event="uploadcomplete" execute="@none"
													render="info" />
											</rich:fileUpload>
										</h:panelGrid>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-5 col-sm-push-2">
										<h:commandButton type="submit" styleClass="btn btn-default"
											value="#{msg['submitButton']}"
											action="#{managementBean.newAd(advertisementBean)}">
										</h:commandButton>
									</div>
								</div>
							</fieldset>
						</h:form>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(
					function() {
						$('.btn-file :file').on('fileselect',
								function(event, numFiles, label) {
									console.log(numFiles);
									console.log(label);
								});
					});
		</script>
	</ui:composition>
</h:body>
</html>
