<?xml version='1.0' encoding='UTF-8' ?>
<!--  
	Authors: Theo De Villeneuve
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>#{msg['bookViewTitle']}</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="management_book.css" />
	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="main.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
</h:head>
<h:body>
	<ui:composition>
		<div class="container-fluid main-content">
			<div class="footercorrect">
				<h:form styleClass="form form-horizontal form-new-book">
					<legend>#{msg.bookViewTitle1}</legend>
					<fieldset>
						<br />
						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">#{msg.bookTitle}
							</label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="title"
									value="#{bookBean.title}">
								</h:inputText>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">#{msg.bookAuthor}
							</label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="author"
									value="#{bookBean.author}">
								</h:inputText>
							</div>
						</div>
						<div class="form-group">

							<label class="col-sm-4 control-label">#{msg.bookImageUpload}</label>
							<div class="col-sm-5">
								<h:panelGrid columns="2" columnClasses="top,top">
									<rich:fileUpload
										fileUploadListener="#{fileUploadBean.listener}" id="upload"
										acceptedTypes="jpg, gif, png, bmp"
										ontyperejected="alert('Only JPG, GIF, PNG and BMP files are accepted');"
										maxFilesQuantity="1">
										<a4j:ajax event="uploadcomplete" execute="@none" render="info" />
									</rich:fileUpload>
								</h:panelGrid>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">#{msg.bookIsbn10}
							</label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="isbn10"
									value="#{bookBean.isbn10}">
								</h:inputText>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">#{msg.bookIsbn13}
							</label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="isbn13"
									value="#{bookBean.isbn13}">
								</h:inputText>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">#{msg.bookGenre}
							</label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="genre"
									value="#{bookBean.genre}">
								</h:inputText>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">#{msg.bookPublisher}
							</label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="publisher"
									value="#{bookBean.publisher}">
								</h:inputText>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">
								#{msg.bookPages} </label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="nbpages"
									value="#{bookBean.numOfPages}">
								</h:inputText>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">#{msg.bookWholeSalePrice}
							</label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="wholesaleprice"
									value="#{bookBean.wholeSalePrice}">
								</h:inputText>
							</div>
						</div>


						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">#{msg.bookListPrice}
							</label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="listprice"
									value="#{bookBean.listPrice}">
								</h:inputText>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">#{msg.bookSalePrice}
							</label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="saleprice"
									value="#{bookBean.salePrice}">
								</h:inputText>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">#{msg.bookDimension}
							</label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="dimensions"
									value="#{bookBean.dimensions}">
								</h:inputText>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">#{msg.bookNbCopie}
							</label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="bncopie"
									value="#{bookBean.numOfCopies}">
								</h:inputText>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">#{msg.bookWeight}
							</label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="weight"
									value="#{bookBean.weight}">
								</h:inputText>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="city">#{msg.ebookFormat}
							</label>
							<div class="col-sm-5">
								<h:inputText styleClass="form-control" id="ebookformat"
									value="#{bookBean.ebookFormat}">
								</h:inputText>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="country">#{msg['bookType']}</label>
							<div class="col-sm-3">
								<h:selectOneMenu id="country"
									styleClass="form-control country-dropdown"
									value="#{bookBean.bookType}">
									<f:selectItem itemValue="1" itemLabel="Paper back" />
									<f:selectItem itemValue="2" itemLabel="Hardcover" />
									<f:selectItem itemValue="3" itemLabel="Ebook" />
								</h:selectOneMenu>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-5 col-sm-push-2">
								<h:commandButton type="submit" styleClass="btn btn-default"
									value="#{msg['submitButton']}"
									action="#{managementBean.newBook(bookBean)}">
								</h:commandButton>
							</div>
						</div>
					</fieldset>
				</h:form>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(
					function() {
						$('.btn-file :file').on('fileselect',
								function(event, numFiles, label) {
									console.log(numFiles);
									console.log(label);
								});
					});
		</script>
	</ui:composition>
</h:body>
</html>
