<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>BookBay</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600' rel='stylesheet' type='text/css' />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="welcome.css" />
	<h:outputStylesheet library="css" name="jquery.bxslider.css" />

	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
	<h:outputScript library="scripts" name="jquery.bxslider.js" />
	<h:outputScript library="scripts" name="main.js" />
</h:head>
<h:body>
	<!-- Start of Wrapper Div -->
	<div id="wrapper">

		<!-- Start of Header Div -->
		<ui:include src="/WEB-INF/templates/header.xhtml" />
		<!-- End of Header Div -->
		<div class="container-fluid main-content">
		<h1>#{msg['welcome1']}</h1>
		<h1>#{msg['welcome2']}</h1>
	</div>
	</div>
	<!-- Start of Footer Div -->
	<ui:include src="/WEB-INF/templates/footer.xhtml" />
	<!-- End of Footer Div -->
</h:body>
</html>