/* 
 *	Author: Sean-Frankel Gaon Canlas
 */
body {
	background: #FFF2E7;
	min-height: 1000px;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Open Sans";
}

#wrapper {
	height: 1300px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
@media ( min-width : 768px) {
h1 {
	margin-top: 30%;
	text-align: center;
}

#account {
	margin-top: 60px;
	height: 1300px;
	width: 1000px;
}

#change-pass {
	height: 130px;
	width: 1000px;
	float: left;
}

#change-email {
	height: 130px;
	width: 1000px;
	float: left;
}

#change-shipping {
	width: 1000px;
	float: left;
}

.personal-form-control {
	width: 220px;
}

#order-history {
	margin-top : 3em;
	width: 1000px;
	float: left;
}

.has-error {
	font-size: 11px;
	color: red;
}
}