/*
*	This is the Cascading Style Sheet for the index.xhtml page.
*	It uses @media queries to make it responsive for mobile devices.
*	Author: Sean-Frankel Gaon Canlas
*/

/*
*	All the CSS in this @media query is for when the window's minimum width is 768px.
*	So anything for a computer goes into this @media query.
*/
@media ( min-width : 768px) {
	body {
		height: 1400px;
		padding-bottom: 70px;
		font-family: "Open Sans";
		background: #FFF2E7;
	}
	#wrapper {
		height: 100%;
		width: 1000px;
		margin-top: 50px;
		margin-right: auto;
		margin-left: auto;
	}
	#menu {
		background: url("#{resource['images:menu_bookmark.png']}");
		width: 200px;
		height: 1000px;
		float: left;
	}
	#rss {
		width: 170px !important;
		height: 650px !important;
		margin-right: auto;
		margin-left: auto;
		overflow: hidden !important;
	}
	#rss-feed {
		overflow-y: scroll !important;
		height: 100% !important;
		width: 185px !important;
	}
	#advertisement {
		height: 80px;
		width: 702px;
		float: left;
		margin-top: 70px;
		margin-bottom: auto;
		margin-left: 54px;
	}
	h3 {
		margin-left: 43px;
	}
	#sale {
		width: 790px;
		height: 250px;
		float: left;
		margin-left: 10px;
	}
	#topbooks {
		width: 790px;
		height: 250px;
		float: left;
		margin-left: 10px;
	}
	.top-book {
		backgroud: yellow;
		height: 250px;
		width: 200px;
		margin-top: 20px;
	}
	.book-img {
		background: brown;
		width: 130px;
		height: 200px;
		float: left;
	}
	.book-info {
		width: 100px;
		height: 200px;
		float: left;
		z-index: -1;
	}
	.book-title {
		margin-left: 10px;
		font-size: 20px;
		width: 200px;
		font-weight: bold;
		height: 150px;
	}
	.book-author {
		font-size: 16px;
		font-weight: normal;
		width: 200px;
	}
	.book-price {
		margin-left: 10px;
		height: 50px;
		font-size: 20px;
	}
	.bxslider a {
		text-decoration: none;
		color: #333;
	}
	#recent {
		width: 790px;
		height: 250px;
		float: left;
		margin-left: 10px;
		margin-top: 70px;
	}

	/*	This code is for the carousels for the top books,
*	the on sale books, and for the recently viewed books.
*/
	/* Start of Carousel CSS */
	.bxslider {
		height: 250px;
	}
	.bxslider li {
		height: 250px;
	}
	.bx-wrapper {
		width: 700px;
		height: 250px;
		margin-left: 50px;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: rgba(0, 0, 0, 0.15);
	}
	/* End of Carousel CSS */
}

/*
*	All the CSS in this @media query is for when the window's maximum width is 767px.
*	So anything for a mobile device goes into this @media query.
*/
@media ( max-width : 767px) {
	body {
		height: 1500px;
		padding-bottom: 70px;
		font-family: "Sans Pro", sans-serif;
		background: #FFF2E7;
	}
	#wrapper {
		height: 1600px;
		min-width: 320px;
		margin-top: 50px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 50px;
	}
	#menu {
		min-width: 320px;
		height: 450px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	#rss {
		width: 170px;
		height: 400px;
		margin-right: auto;
		margin-left: auto;
	}
	#advertisement {
		height: 80px;
		max-width: 320px;
		float: left;
		margin-top: 70px;
		margin-bottom: auto;
		margin-left: 54px;
	}
	h3 {
		margin-left: 43px;
	}
	#sale {
		max-width: 767px;
		min-width: 320px;
		height: 250px;
		float: left;
		margin-left: 10px;
		height: 250px;
	}
	#topbooks {
		max-width: 767px;
		min-width: 320px;
		height: 250px;
		float: left;
		margin-left: 10px;
	}
	.top-book {
		backgroud: yellow;
		height: 250px;
		width: 200px;
		margin-top: 20px;
	}
	.book-img {
		background: brown;
		width: 130px;
		height: 200px;
		float: left;
	}
	.book-info {
		width: 100px;
		height: 200px;
		float: left;
		z-index: -1;
	}
	.book-title {
		margin-left: 10px;
		font-size: 20px;
		width: 200px;
		font-weight: bold;
		height: 150px;
	}
	.book-author {
		font-size: 16px;
		font-weight: normal;
		width: 200px;
	}
	.book-price {
		margin-left: 10px;
		height: 50px;
		font-size: 20px;
	}
	#recent {
		max-width: 767px;
		min-width: 320px;
		height: 250px;
		float: left;
		margin-left: 10px;
		margin-top: 70px;
	}

	/*	This code is for the carousels for the top books,
*	the on sale books, and for the recently viewed books.
*/
	/* Start of Carousel CSS */
	.bxslider {
		height: 250px;
		min-width: 320px;
	}
	.bxslider li {
		height: 250px;
	}
	.bx-wrapper {
		width: 80%;
		max-width: 767px;
		min-width: 320px;
		height: 250px;
		left: 30px;
		float: left;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: rgba(0, 0, 0, 0.15);
	}
	/* End of Carousel CSS */
}

.menu-link,.menu-link:active,.menu-link:visited {
	text-decoration: none;
	color: #333;
}

.menu-link:hover {
	text-decoration: none;
	color: black;
}