body {
	margin: 0;
	border: 0;
	padding: 0;
	height: 140%;
	padding-bottom: 4.375em;
	background: #FFF2E7;
	font-family: "Open Sans";
}

.top {
	vertical-align: top;
}

.info {
	height: 202px;
	overflow: auto;
}

@media ( min-width : 768px) {
	.main-content {
		margin-top: 70px;
		width: 85%;
	}
	.top {
		vertical-align: top;
	}
	.info {
		height: 202px;
		overflow: auto;
	}
	.form-control {
		width: 160%;
	}
	.rightform {
		display: inline-block;
		margin-left: 4em;
	}
	.leftform {
		display: inline-block;
		margin-left: 100px;
		vertical-align: top;
	}
	.form-new-book {
		margin: 0;
		float: left;
		margin-top: -90px;
		margin-left: -65px;
	}
}