/**
*	This is the Master Cascading Style Sheet.
*	Anything that is used across all pages of the website is in this file.
*	Author: Sean-Frankel Gaon Canlas, Jhonatan Orjuela
*/
body {
	font-family: "Open Sans";
}

/* General styles used all over the website */
input[placeholder] {
	font-family: "Open Sans";
	font-weight: 400;
}

.scroll{
	height : 500px;
	overflow-y: scroll;
}

.margintop {
	margin-top: 50px;
}

.footercorrect {
	min-height: 420px;
	float: left;
}

.floatleft {
	float: left;
	width: 100%;
}

.loginmessage {
	font-style: none;
	text-decoration: none;
	color: #B9B1A8;
	float: right;
	padding-top: 15px;
}

.btn-default {
	background: #B9B1A8;
	border-color: #B9B1A8;
	color: #4B4D52;
}

#account-form {
	width: 75px;
	float: left;
	margin-right: 5px;
}

@media ( min-width : 768px) {
	.navbar-form.navbar-right {
		width: 440px;
		text-align: right;
	}
	.right-buttons {
		float: right;
		margin-right: 2px;
	}
}
/* End of General styles */

/*	This is just some small styling stuff for the navbar. */
.navbar {
	background: #4B4D52;
	border-bottom: 0px;
	z-index: 9999;
}

.login-form {
	width: 100%;
	margin-left: 0;
}

.branding {
	font-size: 20px;
	color: #DE8642;
}

.glyphicon {
	height: 19px;
}

.glyphicon-search {
	margin-top: 1px;
}

#login {
	float: left;
	width: 61px;
}

#search-group\:typeSearch {
	width: 95px;
	height: 34px;
	-webkit-appearance: none;
	appearance: none;
	-ms-appearance: none;
	-moz-appearance: window;
	background: url(images/white-caret.png) no-repeat right #B9B1A8;
	-ms-background: #B9B1A8;
}

#search-group\:typeSearch:hover {
	background: url(images/white-caret.png) no-repeat right #D0CABF;
	border-color: #D0CABF;
}

/*	End of navbar styling */

/*
*	All the CSS in this @media query is for when the window's minimum width is 768px.
*	So anything for a computer goes into this @media query.
*/
@media ( min-width : 768px) {
	#search-group {
		min-width: 320px;
		width: 45%;
	}
	.book-search {
		width: 100%;
	}
	.input-email.form-control {
		width: 230px;
	}
	.input-password.form-control {
		width: 230px;
	}
	.menu-list {
		padding: 0;
		width: 170px;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
	}
	.menu-list li {
		list-style-type: none;
		text-align: left;
		height: 30px;
		width: 100%;
		vertical-align: middle;
		line-height: 30px;
		border-bottom: 1px;
	}
	.menu-list li:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
	/* This is the CSS for the footer */
	#footer {
		width: 100%;
		height: 240px;
		background: #4B4D52;
		bottom: 0;
		float: right;
		color: #fff2e7;
	}
	#footer-wrapper {
		height: inherit;
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	.footer-section {
		float: left;
		width: 33.33%;
		height: 95%;
		margin-top: 5px;
	}
	.footer-top {
		height: 75%;
	}
	.footer-bottom {
		width: 90%;
		height: 25%;
		margin-left: auto;
		margin-right: auto;
	}
	.footer-section li {
		line-height: 20px;
		padding-top: 10px;
	}
	.footer-border {
		border-right: 2px solid;
		border-left: 2px solid;
		border-color: rgba(255, 255, 255, 0.05);
	}
	.footer-survey label {
		color: #fff2e7;
		margin-left: 5px;
		font-weight: 300;
	}
	.footer-survey {
		padding-left: calc(50% - 50px);
		padding-top: calc(50% - 150px);
	}
	.footer-survey1 {
		padding-left: calc(30% - 50px);
		padding-top: calc(50% - 150px);
	}
	#footer td {
		display: block;
		margin-left: 10px;
	}
	/* End of Footer CSS */
}

/*
*	All the CSS in this @media query is for when the window's maximum width is 767px.
*	So anything for a mobile device goes into this @media query.
*/
@media ( max-width : 767px) {
	.right-buttons {
		float: left;
		margin-right: 2px;
	}
	#login-form\:loginbutton {
		margin-left: calc(50% - 20px);
	}
	.dropdown1 {
		min-width: 310px;
		margin-left: 5px;
	}
	.dropdown1 input {
		width: 174px;
		margin-left: auto;
		margin-right: auto;
	}
	.nav.navbar-form.navbar-right {
		min-width: 320px;
		padding-left: 0;
		padding-right: 0;
	}
	#loginbutton {
		margin-left: calc(50% - 20px);
	}
	#search-group {
		min-width: 320px;
		width: 105%;
	}
	.menu-list {
		padding: 0;
		width: 100%;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
		font-size: 18px;
	}
	.menu-list li {
		list-style-type: none;
		text-align: center;
		height: 30px;
		width: 100%;
		vertical-align: middle;
		line-height: 30px;
		border-bottom: 1px;
	}
	.menu-list li:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}

	/* This is the CSS for the footer */
	#footer {
		width: 100%;
		height: 480px;
		background: #4B4D52;
		float: right;
		color: #fff2e7;
	}
	#footer-wrapper {
		height: 450px;
		max-width: 767px;
		min-width: 320px;
		margin-left: auto;
		margin-right: auto;
		margin-left: auto;
	}
	.footer-section {
		float: left;
		width: 100%;
		height: 150px;
		margin-top: 5px;
	}
	.footer-top {
		
	}
	.footer-bottom {
		width: 90%;
		height: 25%;
		clear: both;
		margin-top: 80px;
		margin-left: auto;
		margin-right: auto;
		margin-left: auto;
	}
	.footer-section li {
		line-height: 10px;
		margin-left: 50px;
		padding-top: 15px;
		float: left;
	}
	.footer-border {
		border-right: 2px solid;
		border-left: 2px solid;
		border-color: rgba(255, 255, 255, 0.05);
	}
	/* End of Footer CSS */
}

.footer-link,.footer-link:active,.footer-link:visited {
	color: #fff2e7;
	text-decoration: none;
}

.footer-link:hover {
	color: grey;
	text-decoration: none;
}

/* This CSS is for the collapse button when the window becomes smaller than 768px. */
#collapsebutton {
	border-color: #4B4D52;
}

#collapsebutton:focus,#collapsebutton:active,#collapsebutton:hover,.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default
	{
	background: #D0CABF;
	border-color: #D0CABF;
}
/* End of Collapse button CSS */