/*
	Author: Sean-Frankel Gaon Canlas, Theo
*/
body {
	margin: 0;
	border: 0;
	padding: 0;
	height: 140%;
	padding-bottom: 70px;
	background: #FFF2E7;
	font-family: "Open Sans";
}

.logged-msg {
	margin-top: 30%;
	text-align: center;
}

@media ( max-width : 767px) {
	body {
		margin: 0;
		border: 0;
		padding: 0;
		height: 180%;
		padding-bottom: 70px;
		background: #FFF2E7;
	}
	#wrapper {
		height: 180%;
		width: 100%;
	}
	.form-control {
		width: 100%;
	}
}

legend,label,option {
	font-family: "Open Sans";
	font-weight: 400;
	color: #4B4D52;
}

.form-horizontal {
	margin-top: 80px;
}

.main-content {
	width: 100%;
}

@media ( min-width : 768px) {
	#wrapper {
		height: 1200px;
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	#bookmark {
		width: 100px;
		height: 100%;
		background: url("#{resource['images:orangeBF.png']}") no-repeat;
		float: left;
		margin-left: -69px;
	}
	.main-content {
		width: 900px;
		float: right;
	}
	.form-control {
		width: 200%;
	}
}

.errorsignup {
	color: red;
	font-size: 12px;
	width: 200px;
}