/* 
 *	Not actually used, just didn't delete it because I'm not sure.
 *
 *	Author: Sean-Frankel Gaon Canlas
 */

body {
	max-height: 250%;
	height: 200%;
	min-height: 200%;
	padding-bottom: 70px;
}

input[placeholder] {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 200;
}

@media (min-width: 992px) {
	#search-group {
		width: 45%;
	}
}

@media (min-width: 768px) {
	#search-group {
		min-width: 320px;
		width: 45%;
	}
}

@media (max-width: 768px) {
	#search-group {
		min-width: 320px;
		width: 105%;
	}
}
@media (max-width: 768px) {
	.dropdown1 {
		min-width: 310px;
		margin-left: 5px;
	}

	.dropdown1 input {
		width: 174px;
		margin-left: auto;
		margin-right: auto;
	}

	#loginbutton {
		margin-left: calc(50% - 20px);
	}
}
.login-form {
	width: 100%;
	margin-left: 0;
}

#search {
	width: 100%;
}

#login {
	float: left;
	width: 61px;
}

/*
input[placeholder], .navbar-brand
{
	font-weight: 300;
	font-size: 15px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
*/

.navbar-brand {
	font-size: 20px;
	font-color: #fff;
}

.glyphicon {
	height: 19px;
}

.glyphicon-search {
	margin-top: 1px;
}

#carousel-books {
	margin: 0;
	width: 100%;
	height: 250px;
	background: grey;
	margin-top: 50px;
	color: white;
}

.carousel {
	width: 100%;
}

.carousel-indicators {
	bottom: 5px;
}

.carousel-inner {
	width: 100%;
}

.slide-formatter {
	height: 5%;
	width: 100%;
}

.slide {
	width: 100%;
	height: 200px;
}

.books {
	border: 1px solid black;
	float: left;
	max-width: 150px;
	max-height: 200px;
}

.form-horizontal {
	margin-top: 80px;
}

.main-content {
	width: 70%;
}

legend, label, option {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

@media (min-width: 768px) {
	.carousel-caption {
		text-align: center;
	}
	.slider-text {
		float: left;
		width: 20%;
		margin-left: 3%;
	}
	.slide-formatter2 {
		float: left;
		height: 100%;
		width: 40%;
	}
	.form-control {
		width: 160%;
	}
}

@media (max-width: 767px) {
	.slider-text {
		float: left;
		width: 20%;
		margin-left: 5px;
	}
	.slide-formatter2 {
		float: left;
		height: 100%;
		width: 18%;
	}
}

@media(min-width: 768px) {
		.advertisement {
		width: 10%;
		height: 300px;
		background: yellow;
		float: left;
	}
	.content {
		width: 75%;
		height: 300px;
		background: red;
		float: left;
	}
	.survey {
		width: 15%;
		height: 300px;
		background: brown;
		float: left;
	}
}

@media(max-width: 767px) {
		.advertisement {
		width: 100%;
		height: 300px;
		background: yellow;
	}
		.content {
		width: 100%;
		height: 300px;
		background: red;
		float: left;
	}
	.survey {
		width: 100%;
		height: 300px;
		background: brown;
		float: left;
	}
}

#genre {
	width: 80px;
	height: 34px;
	-webkit-appearance: none;
	background: url(images/white-caret.png) no-repeat right #4D4D79;
}

#genre::selection {

	width: 80px;
	height: 34px;
	-webkit-appearance: none;
	background: url(images/white-caret.png) no-repeat right #4D4D79;
}


#genre:hover {
	background: url(images/white-caret.png) no-repeat right #191953;
	border-color: #191953;
	color: white;
}

.navbar {
	background: #333366;
	border-bottom: 0px;
}

.btn-default{
	background: #4D4D79;
	border-color: #4D4D79;
	color: white;
}


.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background: #191953;
  border-color: #191953;
  color: white;
}



/* Footer */
/* Sticky footer styles
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  min-width: 100%;
}

/* Set the fixed height of the footer here */
#footer {
  width: 100%;
  height: 160px;
  background: grey;
  bottom: 0;
}